name: Caching with npm

on: push

jobs:
  first:
    runs-on: ubuntu-latest
    env:
      test: Hello
    steps:
      - run: echo "$test is $test1"
        env:
          test1: Mona
  second:
    needs: first
    runs-on: ubuntu-latest
    steps:
      - run: echo "$test"
  third:
    needs: second
    runs-on: ubuntu-latest
    steps:
      - run: echo "third"
