name: Caching with npm

on: push

jobs:
  first:
    runs-on: ubuntu-latest
    env:
      test: Hello
    steps:
      - id: first
      - run: echo "$test is $test1"
      - run: echo "::set-output name=json_Data::1.2.3"
        env:
          test1: Mona
  second:
    needs: first
    runs-on: ubuntu-latest
    steps:
      - id: second
      - run: echo "$test"
      - run: echo "${{ jobs.first.steps.first.outputs.json_Data }}"
  third:
    needs: second
    runs-on: ubuntu-latest
    steps:
      - id: third
      - run: echo "third"
