name: Caching with npm

on: push

jobs:
  first-job:
    runs-on: ubuntu-latest  
    steps:
    - id: identify
      run: |
        export JSON_DATA='{"test":"test123"}'
        echo "::set-output name=json_data::${JSON_DATA}"
    outputs:
      json_data: ${{ steps.identify.outputs.json_data }}
      
  second-job:
    needs: first-job
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "${{ needs.first-job.outputs.json_data }}"
