name: Caching with npm

on: push

jobs:
  first-job:
    runs-on: ubuntu-latest  
    steps:
    - id: identify
      run: |
        export JSON_DATA='{"test":"test123"}'
        echo "::set-output name=json_data::${JSON_DATA}"
    outputs:
      json_data: ${{ steps.identify.outputs.json_data }}
      
  second-job:
    needs: first-job
    runs-on: ubuntu-latest
#     steps:
#       - env:
#           Json_Data : ${{ needs.first-job.outputs.json_data }}
#       - run: |
#          echo "JSON_DATA  $Json_Data"
    steps:
      - name: "Json Data"
        run: echo "JSON_DATA $Json_Data"
        env:
          Json_Data: ${{ needs.first-job.outputs.json_data }}

# name: Caching with npm

# on: push

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v2
#       - name: Install Dependencies
#         run: echo "hello"
#       - name: Cache node modules
#         uses: actions/cache@v2
#         env:
#           cache-name: cache-node-modules
#         with:
#           # npm cache files are stored in `~/.npm` on Linux/macOS
#           path: ~/.npm
#           key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
#           restore-keys: |
#             ${{ runner.os }}-build-${{ env.cache-name }}-
#             ${{ runner.os }}-build-
#             ${{ runner.os }}-

      
