name: Caching with npm

on: push

jobs:
  first-job:
    runs-on: ubuntu-latest  
    steps:
    - id: identify
      run: |
        export JSON_DATA='{"test":"test12334545"}'
        echo "::set-output name=json_data::${JSON_DATA}"
    outputs:
      json_data: ${{ steps.identify.outputs.json_data }}
      
  second-job:
    needs: first-job
    runs-on: ubuntu-latest
    steps:
      - name: "Json Data"
        run: echo "first job data $Json_Data"
        env:
          Json_Data: ${{ needs.first-job.outputs.json_data }}
  third-job:
    needs: [second-job, first-job]
    runs-on: ubuntu-latest
    steps:
      - name: "Json Data third job"
        run: echo "first job data  $Json_Data_one"
        env:
          Json_Data_one: ${{ needs.first-job.outputs.json_data }}

# name: Caching with npm

# on: push

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v2
#       - name: Install Dependencies
#         run: echo "hello"
#       - name: Cache node modules
#         uses: actions/cache@v2
#         env:
#           cache-name: cache-node-modules
#         with:
#           # npm cache files are stored in `~/.npm` on Linux/macOS
#           path: ~/.npm
#           key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
#           restore-keys: |
#             ${{ runner.os }}-build-${{ env.cache-name }}-
#             ${{ runner.os }}-build-
#             ${{ runner.os }}-

      
